@import "../../styles/variables.scss";

.navItem {
  a {
    align-items: center;
    border-radius: 1.2rem;
    display: flex;
    padding: 1.6rem 2rem;

    > span {
      font-size: 1.4rem;
      font-weight: 600;
      margin-left: 1.6rem;
    }
  }

  &.active {
    a {
      background-color: $color-primary;

      span {
        color: #ffffff;
      }
    }
  }
}