$text-light: hsla(236, 7%, 54%, 1);
$color-primary: hsla(248, 57%, 60%, 1);
$color-dark-gray: hsla(0, 0%, 89%, 1);
$color-dark: hsla(234, 45%, 12%, 1);
$orange: hsla(14, 100%, 65%, 1);
$color-purple-light: rgba(255, 235, 246, 1);